[build-system]
requires = ["setuptools", "setuptools_scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "edk2-pytool-library"
maintainers = [{name = "EDK2 Pytool Maintainers", email = "edk2-pytools@microsoft.com"}]
dynamic = ["version"]
description = "Python library supporting UEFI EDK2 firmware development"
readme = {file = "readme.md", content-type = "text/markdown"}
license = {file = "LICENSE"}
dependencies = []
classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: BSD License",
        "Operating System :: OS Independent",
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11"
    ]

[project.urls]
homepage = "https://github.com/tianocore/edk2-pytool-library/"
documentation = "https://www.tianocore.org/edk2-pytool-library/"
issues = "https://github.com/tianocore/edk2-pytool-library/issues/"

[project.optional-dependencies]
dev = [
    "flake8 == 6.0.0",
    "flake8-pyproject == 1.2.3",
    "pytest == 7.3.1",
    "coverage == 7.2.5",
    "pydocstyle == 6.3.0",
]
publish = [
    "setuptools == 67.7.2",
    "build == 0.10.0",
    "twine == 4.0.2",
]
docs = [
    "black==23.3.0",
    "mkdocs==1.4.2",
    "mkdocs-material==9.1.9",
    "mkdocstrings[python]==0.21.2",
    "mkdocstrings-python==0.9.0",
    "markdown-include==0.8.1",
    "mkdocs-gen-files==0.5.0",
    "mkdocs-exclude==1.0.2",
    "mkdocs-awesome-pages-plugin==2.9.0",
]

[tool.setuptools_scm]

[tool.coverage.run]
include = ["edk2toollib/*"]

[tool.flake8]
ignore = "E266,E722,W503"
max_line_length = 120

[tool.pydocstyle]
convention = "google"

[tool.pytest.ini_options]
testpaths = [
    "tests.unit"
]
